.aws-btn {
    --button-default-height: 64px;
    --button-default-font-size: 18px;
    --button-default-border-radius: 8px;
    --button-horizontal-padding: 100px;
    --button-raise-level: 7px;
    --button-hover-pressure: 4;
    --transform-speed: 0.275s;
    --button-secondary-color: #d6d6d6;
    --button-secondary-color-dark: #4f4f4f;
    --button-secondary-color-light: #474747;
    --button-secondary-color-hover: #ababab;
    --button-secondary-border: 3px solid #787878;
    }

    .container {
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100px;
        height: 100px;
        left: calc(50% - 100px);
        top: calc(50vh - 100px);
      }
      
      .start-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        transition: opacity 0.3s;
      }
      
      .start-container:hover {
        opacity: 0.8;
      }
      
      .textContainer {
        margin-top: 20px;
text-align: center;
      }
      
      .title {
        font-weight: bold;
        text-decoration: underline;
        color: black;

      }
      
      .text {
        top: 100px;
        text-align: center;
        font-weight: bold;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }