

.buttonContainer {
  position: relative;
  left: 45%;
  top: 45vh; 
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 95px;
  width: 150px;
  transition: 1s;
  align-content: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}


.flip-box {
 transform-style: preserve-3d;
 perspective: 1200px;

}

.flip-box-front,
.flip-box-back {
 background-size: cover;
 background-position: center;
 border-radius: 8px;
 background-color: rgb(237 237 237);
 transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
 backface-visibility: hidden;
}

.flip-box-front {
 transform: rotateY(0deg);
 transform-style: preserve-3d;
content:"";
height: 95px;
  width: 150px;
}

.flip-box:hover .flip-box-front {
 transform: rotateY(-180deg);
 transform-style: preserve-3d;
}

.flip-box-back {
 position: absolute;
 height: 95px;
 width: 150px;
 top:0;
 background-color: rgb(237 237 237);
 transform: rotateY(180deg);
 transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back {
 transform: rotateY(0deg);
 transform-style: preserve-3d;
}
.D3animation{
transform: translateY(-50%) translateZ(60px) scale(.94);
left: 45%;
  top: 45vh; 
  height: 95px;
  width: 150px;
}
/*
.flip-box .inner {
 position: absolute;
 left: 0;
 width: 100%;
 padding: 60px;
 outline: 1px solid transparent;
 -webkit-perspective: inherit;
 perspective: inherit;
 z-index: 2;

 transform: translateY(-50%) translateZ(60px) scale(.94);
 -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
 -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
 top: 50%;
}
*/

